/* Palette: https://lospec.com/palette-list/crab-beach-7 */

.app-container{
    min-height:100vh;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    font-family: "Press Start 2P", sans-serif;
}

.header{
    font-size: 50px;
    margin-bottom:20px;
}

.footer{
    color:gray;
    position: absolute;
    bottom: 0;
    font-size:10px;
    text-align:center;
    width: 100%;
}

.guess-bar{
    display:flex;
    gap:1%;
    margin-bottom:20px;
    width:100%;
    justify-content: center;
}
.guess-box{
    background-color:white;
    height:82px;
    flex-basis: calc(12.5% - 4px);
    border: 2px solid black;
    border-radius: 10px;
    min-width: 75px;
    max-width:100px;
    display:flex;
    justify-content: center;
    align-items:center;
}
.guess-text-box{
    text-align:center;
    font-size:8px;
}

.guesses{
    width:100%;
    display:inline-flex;
    flex-direction: column;
    align-items:center;
}

.hint-box-container{
    background-color:#177e86;
    width:40%;
    height:40%;
    color:#96e7cb;
    font-size: 10px;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.hint-box-hints{
    display:flex;
    justify-content: center;
    gap:20%;
}

.hint-box{
    display:flex;
    font-size:7px;
    flex-direction: column;
    align-items: center;
    gap:5px;
    text-align:center;
}

.hint-icon{
    height:50px;
    width:50px;
}

.hint-button{
    background-color:transparent;
}

.hint-container{
    text-align:center;
    font-size:20px;
    margin: 10px 10px 10px 10px;
}

.guess-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin-top:20px;
}

.guess-category-box{
    background-color:white;
    height:82px;
    flex-basis: calc(12.5% - 4px);
    border: 2px solid white;
    border-radius: 10px;
    min-width: 75px;
    max-width:100px;
    display:flex;
    justify-content: center;
    align-items: end;
    font-size:12px;
}

.guess-categories{
    display:flex;
    gap:1%;
    width:100%;
    justify-content: center;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.end-card{
    margin-top:20px;
    background-color:#96e7cb;
    height:300px;
    width:300px;
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-bottom: 20px;
    padding:20px;
}

.end-card-solution{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.solution-img{
    height:75%;
    width:75%;
    float:left;
}

.start-menu-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}

/* Credit: https://www.w3schools.com/howto/howto_css_tooltip.asp */
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #177e86;
    color: #96e7cb;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* https://www.w3schools.com/css/css3_buttons.asp */
.button {
    background-color: #96e7cb; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-family: "Press Start 2P", system-ui;
}