.guess-bar{
    display:flex;
    gap:1%;
    margin-top:20px;
    width:100%;
    justify-content: center;
}
.guess-box{
    background-color:white;
    height:82px;
    flex-basis: calc(12.5% - 4px);
    border: 2px solid black;
    border-radius: 10px;
    min-width: 75px;
    max-width:100px;
    display:flex;
    justify-content: center;
    align-items:center;
}
.guess-text-box{
    font-size:8px;
}

.guesses{
    width:100%;
    display:inline-flex;
    flex-direction: column;
    align-items:center;
}

.hint-box{
    background-color: #294e68;
    width:20%;
    height:40%;
    color:white;
    font-size: 10px;
}

.app-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
}

.guess-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin-top:20px;
}

.guess-category-box{
    background-color:white;
    height:82px;
    flex-basis: calc(12.5% - 4px);
    border: 2px solid white;
    border-radius: 10px;
    min-width: 75px;
    max-width:100px;
    display:flex;
    justify-content: center;
    align-items: end;
    font-size:12px;
}

.guess-categories{
    display:flex;
    gap:1%;
    width:100%;
    justify-content: center;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.app-container{
    font-family: "Press Start 2P", sans-serif;
}

.header{
    font-size: 50px;
    margin-bottom:20px;
}

.end-card{
    margin-top:20px;
    background-color:#296837;
    height:300px;
    width:300px;
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.end-card-solution{

}

.solution-img{
    float:left;
}